@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Roller-Coaster";
  src: url("/fonts/Roller-Coaster.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Arapey";
  src: url("/fonts/Arapey.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Fjalla-One";
  src: url("/fonts/FjallaOne.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Trochut";
  src: url("/fonts/Trochut.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Arian-light";
  src: url("/fonts/Arian-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Arian-bold";
  src: url("/fonts/Arian-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Supermolot";
  src: url("/fonts/Supermolot.ttf") format("truetype");
}
